<h4>
  Favorite Component</h4>
<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)">
</favorite>

<hr>

<h4>Like Component</h4>
<like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked" (change)="onTweetChanged($event)"></like>

<hr>

<h4>Input Fromat</h4>
<input type="text" [appInputFormat]="'uppercase'">

<hr>

<h4>Zippy Component</h4>
<zippy title="Shipping Details">
  Shipping Details Content
</zippy>
<zippy title="Billing Details">
  Billing Details Content
</zippy>

<hr>

<h4>Contact Form</h4>
<contact-form></contact-form>

<hr>

<h4>Course Form</h4>
<course-form></course-form>

<hr>

<signup-form></signup-form>

<hr>

<new-course-form></new-course-form>